html {
    font-family: sans-serif;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    cursor: default;
}

body {
    margin: 0;
}

.is-selectable,
pre,
code {
    -webkit-user-select: auto;
    cursor: auto;
}

button {
    cursor: default;
}

a {
    cursor: pointer;
    text-decoration: none;
    border-bottom: 1px dashed;
    outline: none;
}

a[target],
a[href^="https://"],
a[href^="http://"] {
    border-bottom: 1px solid;
}

a:hover,
a:focus {
    border-bottom: none;
}

img {
    -webkit-user-drag: none;
}